.icon {
	stroke: currentColor;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;
}

.fill {
	fill: currentColor;
}

.code {
	padding: 0;
}

.code div {
	width: 100%;
	border-radius: 0 0 6px 6px;
}

.code div table {
	border-radius: 0 0 6px 6px;
}