{{ define "subview" }}
  <div class="level">
    <div class="level-left">
      <div class="level-item">
        {{ template "refs" . }}
      </div>
    </div>
  </div>
  <div class="panel">
    <div class="panel-heading">
      <nav class="breadcrumb is-medium" aria-label="breadcrumbs">
        <ul>
          {{ $url := join "/" .Repo.Name "tree" .Ref }}
          <li {{ if eq .URL $url }} class="is-active" {{ end }}>
            <a href={{ $url }}>{{ .Repo.Name }}</a>
          </li>
          {{ range breadcrumbs (join "/" .Path) }}
          {{ $url := join "/" $.Repo.Name "tree" $.Ref . }}
          <li {{ if eq $.URL $url }} class="is-active" {{ end }}>
            <a href={{ $url }}>{{ base . }}</a>
          </li>
          {{ end }}
        </ul>
      </nav>
    </div>
    {{ if .Code.IsDir }}
      {{ range .Code.Tree }}
        <a href={{ join "/" $.Repo.Name "tree" $.Ref $.Path .Name }} class="panel-block">
          <span class="panel-icon">
            {{ if .IsDir }}
              <span class="icon fill has-text-info is-small">
                <svg><use xlink:href="/static/feather-sprite.svg#folder"/></svg>
              </span>
            {{ else }}
              <span class="icon is-small">
                <svg><use xlink:href="/static/feather-sprite.svg#file"/></svg>
              </span>
            {{ end }}
          </span>
          <span class="has-text-black" >{{ .Name }}</span>
        </a>
      {{ end }}
    {{ else }}
    <div class="panel-block code">
      {{ highlight .Path .Code.Blob }}
    </div>
    {{ end }}
  </div>
  {{ if .Code.Readme }}
    <div class="box">
      <div class="content">
        {{ markdown .Code.Readme }}
      </div>
    </div>
  {{ end }}
{{ end }}