{{ define "subview" }}
  {{ range $i, $c := .Commits.List }}
  <div class="box">
    <div class="is-pulled-right">
      {{ $cid := index $.Commits.IDs $i }}
      <div class="buttons">
        <button class="button">
          <span class="is-family-monospace">
            {{ $cid.String | shortcid }}
          </span>
        </button>
        <a href={{ join "/" $.Repo.Name "tree" $cid.String }} class="button">
          <span class="icon">
            <svg><use xlink:href="/static/feather-sprite.svg#code"/></svg>
          </span>
        </a>
      </div>
    </div>
    <div class="truncate">
      <strong>{{ $c.Message }}</strong>
      <p>{{ timestamp $c.Date }}</p>
    </div>
  </div>
  {{ end }}
{{ end }}