{{ define "view" }}
  <div class="tabs">
    <ul>
      <li {{ if eq .Page "tree" }} class="is-active" {{ end }}>
        <a href={{ join "/" .Repo.Name "tree" .Ref }}>
          <span class="icon">
            <svg><use xlink:href="/static/feather-sprite.svg#code"/></svg>
          </span>
          Code
        </a>
      </li>
      <li {{ if eq .Page "commits" }} class="is-active" {{ end }}>
        <a href={{ join "/" .Repo.Name "commits" .Ref }}>
          <span class="icon">
            <svg><use xlink:href="/static/feather-sprite.svg#git-commit"/></svg>
          </span>
          Commits
        </a>
      </li>
    </ul>
  </div>
  {{ template "subview" . }}
{{ end }}

{{ define "refs" }}
  <div class="dropdown is-hoverable">
    <div class="dropdown-trigger">
      <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
        {{ if .Branch }}
        <span class="icon is-small">
          <svg><use xlink:href="/static/feather-sprite.svg#git-branch"/></svg>
        </span>
        <span>{{ .Branch }}</span>
        {{ else if .Tag }}
        <span class="icon is-small">
          <svg><use xlink:href="/static/feather-sprite.svg#tag"/></svg>
        </span>
        <span>{{ .Tag }}</span>
        {{ else }}
        <span class="icon is-small">
          <svg><use xlink:href="/static/feather-sprite.svg#git-commit"/></svg>
        </span>
        <span>{{ .Ref | shortcid }}</span>
        {{ end }}
        <span class="icon is-small">
          <svg><use xlink:href="/static/feather-sprite.svg#chevron-down"/></svg>
        </span>
      </button>
    </div>
    <div class="dropdown-menu" id="dropdown-menu" role="menu">
      <div class="dropdown-content">
        {{ range $k, $v := .Repo.Branches }}
        <a href={{ join "/" $.Repo.Name $.Page $k $.Path }} class="dropdown-item">
          <span class="icon is-small">
            <svg><use xlink:href="/static/feather-sprite.svg#git-branch"/></svg>
          </span>
          {{ $k }}
        </a>
        {{ end }}
        {{ if .Repo.Tags }}
        <hr class="dropdown-divider">
        {{ end }}
        {{ range $k, $v := .Repo.Tags }}
        <a href={{ join "/" $.Repo.Name $.Page $k $.Path }} class="dropdown-item">
          <span class="icon is-small">
            <svg><use xlink:href="/static/feather-sprite.svg#tag"/></svg>
          </span>
          {{ $k }}
        </a>
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}