{{ define "view" }}
  <div class="tabs">
    <ul>
      <li class="is-active">
        <a href="/{{ .Repo.Name }}">
          <svg class="icon feather">
            <use xlink:href="/static/feather-sprite.svg#code"/>
          </svg>
          Code
        </a>
      </li>
      <li>
        <a href="/{{ .Repo.Name }}/commits">
          <svg class="icon feather">
            <use xlink:href="/static/feather-sprite.svg#git-commit"/>
          </svg>
          Commits
        </a>
      </li>
    </ul>
  </div>
  {{ template "subview" . }}
{{ end }}

{{ define "breadcrumbs" }}
  <nav class="breadcrumb is-medium" aria-label="breadcrumbs">
    <ul>
      {{ $href := join "/" .Repo.Name }}
      <li {{ if eq .URL $href }} class="is-active" {{ end }}>
        <a href={{ $href }}>{{ .Repo.Name }}</a>
      </li>
      {{ range breadcrumbs (join "/" .Path) }}
      {{ $href := join "/" $.Repo.Name "tree" . }}
      <li {{ if eq $.URL $href }} class="is-active" {{ end }}>
        <a href={{ $href }}>{{ base . }}</a>
      </li>
      {{ end }}
    </ul>
  </nav>
{{ end }}

{{ define "branches" }}
  <div class="dropdown is-hoverable">
    <div class="dropdown-trigger">
      <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
        <svg class="icon">
          <use xlink:href="/static/feather-sprite.svg#git-branch"/>
        </svg>
        <span>{{ .Branch }}</span>
        <svg class="icon">
          <use xlink:href="/static/feather-sprite.svg#chevron-down"/>
        </svg>
      </button>
    </div>
    <div class="dropdown-menu" id="dropdown-menu" role="menu">
      <div class="dropdown-content">
        {{ range $k, $v := .Repo.Branches }}
        <a href="?branch={{ $k }}" class="dropdown-item">
          <svg class="icon is-small">
            <use xlink:href="/static/feather-sprite.svg#git-branch"/>
          </svg>
          {{ $k }}
        </a>
        {{ end }}
        {{ if .Repo.Tags }}
        <hr class="dropdown-divider">
        {{ end }}
        {{ range $k, $v := .Repo.Tags }}
        <a href="?tag={{ $k }}" class="dropdown-item">
          <svg class="icon is-small">
            <use xlink:href="/static/feather-sprite.svg#tag"/>
          </svg>
          {{ $k }}
        </a>
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}