<div class="level is-mobile">
  <div class="level-left">
    <div class="level-item">
      <div class="dropdown is-hoverable">
        <div class="dropdown-trigger">
          <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
            <span class="icon is-small">
              {{ if eq .Refs "branches" }}
              <svg><use xlink:href="/static/feather-sprite.svg#git-branch"/></svg>
              {{ else if eq .Refs "tags" }}
              <svg><use xlink:href="/static/feather-sprite.svg#tag"/></svg>
              {{ end }}
            </span>
            <span class="mx-2">{{ .Head }}</span>
            <span class="icon is-small">
              <svg><use xlink:href="/static/feather-sprite.svg#chevron-down"/></svg>
            </span>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu">
          <div class="dropdown-content">
            {{ range $k, $v := .Repo.Branches }}
            <a href={{ join "/" $.PeerID "repositories" $.Name "branches" $k "tree" $.File }} class="dropdown-item">
              <span class="icon is-small">
                <svg><use xlink:href="/static/feather-sprite.svg#git-branch"/></svg>
              </span>
              <span class="mx-2">{{ $k }}</span>
            </a>
            {{ end }}
            {{ if .Repo.Tags }}
            <hr class="dropdown-divider">
            {{ end }}
            {{ range $k, $v := .Repo.Tags }}
            <a href={{ join "/" $.PeerID "repositories" $.Name "tags" $k "tree" $.File }} class="dropdown-item">
              <span class="icon is-small">
                <svg><use xlink:href="/static/feather-sprite.svg#tag"/></svg>
              </span>
              <span class="mx-2">{{ $k }}</span>
            </a>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="level-right">
    <div class="level-item">
      <div class="dropdown is-right is-hoverable">
        <div class="dropdown-trigger">
          <button class="button is-primary" aria-haspopup="true" aria-controls="dropdown-menu">
            <span class="icon is-small">
              <svg><use xlink:href="/static/feather-sprite.svg#download"/></svg>
            </span>
            <span class="mx-2">Code</span>
            <span class="icon is-small">
              <svg><use xlink:href="/static/feather-sprite.svg#chevron-down"/></svg>
            </span>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu">
          <div class="dropdown-content">
            <div class="dropdown-item">
              <div class="is-flex is-align-items-center">
                <span class="icon is-small">
                  <svg><use xlink:href="/static/feather-sprite.svg#terminal"/></svg>
                </span>
                <span class="ml-4 is-family-code">
                  multi clone
                </span>
              </div>
            </div>
            <div class="dropdown-item">
              <div class="field has-addons">
                <div class="control">
                  <input class="input is-small is-family-monospace" type="text" value={{ .RepoID.String }} readonly>
                </div>
                <div class="control">
                  <button class="button is-small" data-copy-text={{ .RepoID.String }}>
                    <span class="icon is-small">
                      <svg><use xlink:href="/static/feather-sprite.svg#clipboard"/></svg>
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel">
  <div class="panel-heading">
    <nav class="breadcrumb is-medium" aria-label="breadcrumbs">
      <ul>
        <li {{ if not .File }} class="is-active" {{ end }}>
          <a href={{ join "/" .PeerID "repositories" .Name .Refs .Head "tree" }}>tree</a>
        </li>
        {{ range (join "/" .File | dir | breadcrumbs) }}
        <li>
          <a href={{ join "/" $.PeerID "repositories" $.Name $.Refs $.Head "tree" . }}>{{ base . }}</a>
        </li>
        {{ end }}
        {{ if .File }}
        <li class="is-active">
          <a href="#">{{ base .File }}</a>
        </li>
        {{ end }}
      </ul>
    </nav>
  </div>
{{ if .Blob }}
  <div class="panel-block code">
    {{ highlight .File .Blob }}
  </div>
{{ else }}
  {{ range .Tree }}
    <a href={{ join "/" $.PeerID "repositories" $.Name $.Refs $.Head "tree" $.File .Name }} class="panel-block" >
      <span class="panel-icon">
        {{ if .IsDir }}
        <span class="icon fill has-text-info is-small">
          <svg><use xlink:href="/static/feather-sprite.svg#folder"/></svg>
        </span>
        {{ else }}
        <span class="icon is-small">
          <svg><use xlink:href="/static/feather-sprite.svg#file"/></svg>
        </span>
        {{ end }}
      </span>
      <span class="has-text-black" >{{ .Name }}</span>
    </a>
  {{ end }}
{{ end }}
</div>

{{ if .ReadmeBlob }}
  <div class="panel">
    <div class="panel-heading">
      <h1 class="has-text-weight-bold">{{ .ReadmeName }}</h1>
    </div>
    <div class="panel-block">
      <div class="p-6 content">
        {{ markdown .ReadmeBlob }}
      </div>
    </div>
  </div>
{{ end }}