{{ define "partial" }}
  <div class="panel">
    <div class="panel-heading">
      <nav class="breadcrumb is-medium" aria-label="breadcrumbs">
        <ul>
          <li {{ if not .Path }} class="is-active" {{ end }}>
            <a href={{ join "/" .Repo.Name .Ref "tree" }}>{{ .Repo.Name }}</a>
          </li>
          {{ range (join "/" .Path | dir | breadcrumbs) }}
          <li>
            <a href={{ join "/" $.Repo.Name $.Ref "tree" . }}>{{ base . }}</a>
          </li>
          {{ end }}
          {{ if .Path }}
          <li class="is-active">
            <a href="#">{{ base .Path }}</a>
          </li>
          {{ end }}
        </ul>
      </nav>
    </div>
    <div class="panel-block code">
      {{ highlight .Path .Blob.Data }}
    </div>
  </div>
{{ end }}
