<div class="flex-grow w-full max-w-7xl mx-auto xl:px-8 py-6 lg:flex">
  <div class="lg:min-w-0 lg:flex-1 space-y-6">
    <!-- Action buttons -->
    <div class="flex px-3 xl:px-0">
      <!-- Action buttons left -->
      <div class="flex flex-1">
        <!-- Refs dropdown -->
        <div class="relative inline-block text-left">
          <div>
            <button type="button" class="inline-flex justify-center w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500" id="refs-menu-button" aria-haspopup="true" aria-expanded="true">
              <svg class="stroke-current -ml-1 mr-2 h-5 w-5" fill="none">
                {{ if eq .Refs "branches" }}
                <use xlink:href="/static/feather-sprite.svg#git-branch"/>
                {{ else if eq .Refs "tags" }}
                <use xlink:href="/static/feather-sprite.svg#tag"/>
                {{ end }}
              </svg>
              {{ .Head }}
              <svg class="stroke-current -mr-1 ml-2 h-5 w-5" fill="none">
                <use xlink:href="/static/feather-sprite.svg#chevron-down"/>
              </svg>
            </button>
          </div>
          <div class="hidden origin-top-right right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 divide-y divide-gray-100" role="menu" aria-orientation="vertical" aria-labelledby="refs-menu-button" id="refs-menu">
            <div class="py-1">
              {{ range $k, $v := .Repo.Branches }}
              {{ $href := (join "/" $.PeerID "repositories" $.Name "branches" $k "tree" $.File) }}
              <a href={{ $href }} class="group flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" role="menuitem">
                <svg class="stroke-current mr-3 h-5 w-5 text-gray-400 group-hover:text-gray-500" fill="none">
                  <use xlink:href="/static/feather-sprite.svg#git-branch"/>
                </svg>
                {{ $k }}
              </a>
              {{ end }}
            </div>
            {{ if .Repo.Tags }}
            <div class="py-1">
              {{ range $k, $v := .Repo.Tags }}
              {{ $href := (join "/" $.PeerID "repositories" $.Name "tags" $k "tree" $.File) }}
              <a href={{ $href }} class="group flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" role="menuitem">
                <svg class="stroke-current mr-3 h-5 w-5 text-gray-400 group-hover:text-gray-500" fill="none">
                  <use xlink:href="/static/feather-sprite.svg#tag"/>
                </svg>
                {{ $k }}
              </a>
              {{ end }}
            </div>
            {{ end }}
          </div>
        </div>
      </div>
      <!-- Action buttons right -->
      <div class="flex flex-1 flex-row-reverse">
        <!-- Fork -->
        <a href="#" class="inline-flex items-center justify-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          <svg class="stroke-current stroke-2 h-4 w-4 -ml-0.5 mr-2" fill="none">
            <use xlink:href="/static/feather-sprite.svg#copy"/>
          </svg>
          Fork
        </a>
      </div>
    </div>
    <!-- Code panel -->
    <div class="bg-gray-100 shadow overflow-hidden shadow rounded-lg">
      <!-- Breadcrumbs -->
      <div class="px-4 py-2 sm:px-6">
        <nav class="flex" aria-label="Breadcrumb">
          <ol class="flex items-center space-x-2">
            {{ $base := (join "/" .PeerID "repositories" .Name .Refs .Head "tree") }}
            <li>
              <div class="flex items-center">
                <a href={{ $base }} class="ml-4 text-lg font-medium">tree</a>
              </div>
            </li>
            {{ $breadcrumbs := (join "/" .File) | breadcrumbs }}
            {{ range $i, $v := $breadcrumbs }}
            <li>
              <div class="flex items-center">
                <svg class="flex-shrink-0 h-5 w-5 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
                  <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z" />
                </svg>
                <a href={{ join $base $v }} class="ml-2 text-lg font-medium">{{ base $v }}</a>
              </div>
            </li>
            {{ end }}
          </ol>
        </nav>
      </div>
      <!-- Tree -->
      {{ if .Tree }}
      <ul class="bg-white divide-y divide-gray-200">
        {{ range .Tree }}
        {{ $href := (join "/" $.PeerID "repositories" $.Name $.Refs $.Head "tree" $.File .Name) }}
          <li class="hover:bg-gray-100">
            <a href={{ $href }} class="flex p-2">
              {{ if .IsDir }}
              <svg class="fill-current text-blue-500 flex-shrink-0 mr-3 h-5 w-5">
                <use xlink:href="/static/feather-sprite.svg#folder"/>
              </svg>
              {{ else }}
              <svg class="stroke-current text-gray-500 flex-shrink-0 mr-3 h-5 w-5" fill="none">
                <use xlink:href="/static/feather-sprite.svg#file"/>
              </svg>
              {{ end }}
              {{ .Name }}
            </a>
          </li>
        {{ end }}
      </ul>
      {{ end }}
      <!-- Blob -->
      {{ if .Blob }}
      <div class="bg-white">
        {{ highlight .File .Blob }}
      </div>
      {{ end }}
    </div>
    {{ if .ReadmeBlob }}
    <div class="bg-white overflow-hidden shadow rounded-lg">
      <div class="px-4 py-2 sm:px-6">
        <h1 class="text-md font-semibold">
          {{ .ReadmeName }}
        </h1>
      </div>
      <div class="px-4 py-5 sm:p-6">
        <article class="prose">
          {{ markdown .ReadmeBlob }}
        </article>
      </div>
    </div>
    {{ end }}
  </div>
</div>
<script type="text/javascript" src="/static/repository.js"></script>