{{ define "content" }}
<nav class="breadcrumb is-medium" aria-label="breadcrumbs">
  <ul>
    {{ range (.Util.Breadcrumbs .URL) }}
    <li><a href={{ join "/" . }}>{{ base . }}</a></li>
    {{ end }}
  </ul>
</nav>

<div class="panel">
  <p class="panel-heading">
    {{ .Cid }}
  </p>
  {{ range .Tree }}
  <a href={{ join "/" $.URL .Name }} class="panel-block">
    <span class="panel-icon">
    {{ if .IsDir }}
      <i class="fas fa-folder has-text-info" aria-hidden="true"></i>
    {{ else }}
      <i class="far fa-file" aria-hidden="true"></i>
    {{ end }}
    </span>
    {{ .Name }}
  </a>
  {{ end }}
</div>

{{ if .Readme }}
<div class="box content">
  {{ .Util.Markdown .Readme }}
</div>
{{ end }}

{{ end }}

