{{ define "partial" }}
  <div class="panel">
    <div class="panel-heading">
      <nav class="breadcrumb is-medium" aria-label="breadcrumbs">
        <ul>
          <li {{ if not .Path }} class="is-active" {{ end }}>
            <a href={{ join "/" .ID.String .Ref "tree" }}>{{ .Repo.Name }}</a>
          </li>
          {{ range (join "/" .Path | dir | breadcrumbs) }}
          <li>
            <a href={{ join "/" $.ID.String $.Ref "tree" . }}>{{ base . }}</a>
          </li>
          {{ end }}
          {{ if .Path }}
          <li class="is-active">
            <a href="#">{{ base .Path }}</a>
          </li>
          {{ end }}
        </ul>
      </nav>
    </div>
  {{ range .Tree }}
    {{ if .IsDir }}
    <a href={{ join "/" $.ID.String $.Ref "tree" $.Path .Name }} class="panel-block" >
      <span class="panel-icon">
        <span class="icon fill has-text-info is-small">
          <svg><use xlink:href="/static/feather-sprite.svg#folder"/></svg>
        </span>
      </span>
      <span class="has-text-black" >{{ .Name }}</span>
    </a>
    {{ else }}
    <a href={{ join "/" $.ID.String $.Ref "blob" $.Path .Name }} class="panel-block">
      <span class="panel-icon">
        <span class="icon is-small">
          <svg><use xlink:href="/static/feather-sprite.svg#file"/></svg>
        </span>
      </span>
      <span class="has-text-black" >{{ .Name }}</span>
    </a>
    {{ end }}
  {{ end }}
  </div>
  {{ if .Readme }}
    <div class="box">
      <div class="content">
        {{ markdown .Readme }}
      </div>
    </div>
  {{ end }}
{{ end }}
